/* Main Container */
.product-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Filters */
.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters input,
.filters select,
.filters button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    width: auto;
}

.filters input {
    width: 30%;
    max-width: 300px;
}

.filters select,
.filters button {
    cursor: pointer;
}

.filters button {
    background-color: rgb(140, 208, 227);
    margin-top: -5px;
    color: white;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: rgb(8, 83, 104);
}

/* Product List Grid */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

/* Product Card */
.product-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-item img:hover {
    opacity: 0.8;
}

/* Product Info */
.product-item .info {
    padding: 20px;
    text-align: center;
}

.product-item h2 {
    font-size: 12px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-item .info p {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}

.product-item .info .price {
    font-size: 18px;
    color: #007bff;
    font-weight: 700;
    margin: 10px 0;

}

.product-item .info .stock {
    font-size: 14px;
    color: #28a745;
    margin-bottom: 15px;
}

.product-list button {
    background-color: rgb(140, 208, 227);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 80px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.product-list button:hover {
    background-color: rgb(6, 85, 107);
}

.product-item a {
    text-decoration: none;
    color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters input,
    .filters select,
    .filters button {
        width: 100%;
        margin-bottom: 10px;
    }
}